<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Keystone" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Almanac" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Almanac.PlainText" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Carbonite" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Carbonite.Diamant" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Carbonite.Diamant.Sql" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork.To.Carbonite" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork.To.Carbonite.Diamant" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork.To.Carbonite.Diamant.Sql" version="1.0.48-RC9" targetFramework="net46" />
  <package id="Keystone.Mystere" version="1.0.48-RC9" targetFramework="net46" />
</packages>