<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Keystone" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Almanac" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Almanac.PlainText" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Carbonite" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Carbonite.Diamant" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Carbonite.Diamant.Sql" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Clockwork" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Clockwork.To.Carbonite" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Clockwork.To.Carbonite.Diamant" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Clockwork.To.Carbonite.Diamant.Sql" version="2.0.2" targetFramework="net46" />
  <package id="Keystone.Mystere" version="2.0.1" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
</packages>