<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Keystone" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Almanac" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Almanac.Persistence.PlainText" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Carbonite" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Carbonite.Persistence.Relational" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Carbonite.Persistence.Relational.Sql" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork.Bindings.Carbonite" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork.Bindings.Carbonite.Persistence.Relational" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Clockwork.Bindings.Carbonite.Persistence.Relational.Sql" version="1.0.11-RC9" targetFramework="net46" />
  <package id="Keystone.Mystere" version="1.0.11-RC9" targetFramework="net46" />
</packages>