<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Keystone" version="1.0.0-RC8" targetFramework="net46" />
  <package id="Keystone.Carbonite" version="1.0.0-RC8" targetFramework="net46" />
  <package id="Keystone.Carbonite.Persistence.Relational" version="1.0.0-RC8" targetFramework="net46" />
  <package id="Keystone.Carbonite.Persistence.Relational.Sql" version="1.0.0-RC8" targetFramework="net46" />
</packages>